name: Build and publish

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - name: 'lyyhua/auction-svc'
            path: 'src/AuctionService'
          - name: 'lyyhua/search-svc'
            path: 'src/SearchService'
          - name: 'lyyhua/bid-svc'
            path: 'src/BiddingService'
          - name: 'lyyhua/identity-svc'
            path: 'src/IdentityService'
          - name: 'lyyhua/gateway-svc'
            path: 'src/GatewayService'
          - name: 'lyyhua/notify-svc'
            path: 'src/NotificationService'
          - name: 'lyyhua/web-app'
            path: 'frontend/web-app'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ${{matrix.service.path}}/Dockerfile
        push: true
        tags: ${{matrix.service.name}}:latest